body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    background-size: cover;
}

header {
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 22, .3);
    position: absolute;
    z-index: -9;
}
h2 {
    font-size: 50px;
    letter-spacing: 10px;
}
button{
    width: 100px;
    height: 50px;
    border: 3px solid #fff;
    background: none; 
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 
    transition: color .3s, background .3s, transform .3s;
}
button:hover{
    color: #333;
    background-color: #fff;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari 和 Chrome */
    -o-transform:rotate(0deg); 
    transition: color .3s, background .3s, transform .3s;
    cursor: pointer;
}
input{
    width: 200px;
    height: 30px;
    margin: 20px 0;
    padding: 0 20px;
    border: 3px solid #fff; 
    background: none;
    color: #fff;
}
input:hover{
    background: none;
    color: #fff;
}
button>input{
    width: 90px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: inherit;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}
button>input:hover{
    color: #000;
}
#back{
    position: absolute;
    top: 20px;
    right: 0;
    width: 150px;
    height: 100px;
}
a{
    text-decoration: none;
}
.formLeft{
    position: relative;
    top: -90px;
    left: -80px;
}
.formRight{
    position: relative;
    /*top: -50px;*/
    left: 80px;
    margin: 40px;
}